<div class="container-body">
  <mat-card [formGroup]="approvListForm">
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button (click)="retour()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        Ajouter Approvision
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>TITRE</mat-label>
        <input matInput formControlName="designation" placeholder="Entrez un titre" maxlength="160" minlength="2" >
        <mat-icon matPrefix>format_align_left</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>FOURNISSEUR</mat-label>
        <input matInput formControlName="adresseFrs" maxlength="100" minlength="2" >
        <mat-icon matPrefix>format_align_left</mat-icon>
        <mat-error *ngIf="approvListForm.get('adresseFrs')?.hasError('required') && approvListForm.get('adresseFrs')">
          Le fournisseur est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>QUANTITE</mat-label>
        <input matInput formControlName="quantite" type="number"
               placeholder="0" min="1"
               step="1" maxlength="100" minlength="1" >
        <mat-icon matPrefix>exposure</mat-icon>
        <mat-error *ngIf="approvListForm.get('quantite')?.hasError('required') && approvListForm.get('quantite')">
          La quantite est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CBM</mat-label>
        <input matInput formControlName="cbm" type="number"
               placeholder="0.0"  maxlength="100">
        <mat-icon matPrefix>exposure</mat-icon>
        <mat-error *ngIf="approvListForm.get('cbm')?.hasError('required') && approvListForm.get('cbm')">
          Le cbm est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>PRIX UNITAIRE</mat-label>
        <input matInput formControlName="prixUnitaire"  type="number"
               placeholder="0" min="1"
               step="1" maxlength="100" minlength="1" >
        <mat-icon matPrefix>account_balance_walle</mat-icon>
        <mat-error *ngIf="approvListForm.get('prixUnitaire')?.hasError('required') && approvListForm.get('prixUnitaire')">
          Le prix unitaire est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="date">
        <mat-label>Entrer la duree</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input formControlName="dateAchat" matStartDate placeholder="Date Achat" />
          <input formControlName="dateArriver" matEndDate placeholder="Date Reception" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Annuler</button>
            <button mat-raised-button matDateRangePickerApply>Appliquer</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choisir les produits</mat-label>
        <mat-select formControlName="produitsApprov" required>
          <mat-option *ngFor="let prod of listProd" [value]="prod">{{ prod.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput formControlName="image" maxlength="100" minlength="2" >
        <mat-icon matPrefix>account_balance_walle</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-form-field class="note" appearance="outline">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="description" maxlength="100" minlength="2" ></textarea>
      <mat-icon matPrefix>description</mat-icon>
    </mat-form-field>

    <mat-card-actions>
      <button (click)="annuler()" class="annuler" mat-raised-button>Annuler</button>
      <button (click)="ajoutApprov()" class="enregistrer" mat-raised-button>
        <div class="save">
          Enregistrer
          <div *ngIf="spinnerProgress">
            <app-spinner/>
          </div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
