.container-body{
  height: auto;
  margin: 20px;
}

table {
  width: 100%;
}

mat-divider{
  margin: 10px 0;
}

mat-card-title{
  font-weight: 550;
  font-size: 25px;
}

mat-card-header  {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card-actions {
  display: flex;
  gap: 10px;
}

button{
  margin: 10px 2px 0 0;
  border-radius: 5px;
  font-weight: 500;
}

.addClient{
  color: #6B3C5C;
  font-weight: bold;
  background-color: white;
}

.addClient:hover{
  color: white;
  font-weight: bold;
  background-color: #6B3C5C;
}

.modifier{
  color: blue;
}

.supprimer{
  color: red;
}

.details{
  color: #de0aff;
}

.modifierClient:hover, .supprimerClient:hover, .detailsClient:hover{
  color: white;
  width: 100%;
  background-color: rgba(107, 60, 92, 0.75);
}

/*Version mobile*/
@media (max-width: 768px) {
  .card-content {
    grid-template-columns: 1fr;
  }

  .mat-card-header, .header {
    flex-direction: column;
    align-items: flex-start;
  }

  mat-card-title {
    font-size: 25px;
  }

  mat-card-actions {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    margin: 0;
    font-size: 14px;
  }
}


