.mat-card-actions{
  display: flex;
  justify-content: end;
  text-align: end;
  align-content: end;
}

button{
  margin: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.fermer {
  color: white;
  font-weight: bolder;
  background-color: red;
  width: 60px;
  height: 30px;
  border: none;
}

mat-card{
  border-radius: 5px;
}
