
<div ></div>
<div class="container-body">
  <mat-card mat-card [formGroup]="catListForm">
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button (click)="retour()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        Ajouter Categorie
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" maxlength="60" minlength="2" >
        <mat-icon matPrefix>format_align_left</mat-icon>
        <mat-error *ngIf="catListForm.get('nom')?.hasError('required') && catListForm.get('nom')">
          La titre est requis.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-form-field class="note" appearance="outline">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="description" placeholder="Entrez une note" maxlength="255" minlength="2" ></textarea>
      <mat-icon matPrefix>description</mat-icon>
    </mat-form-field>
    <mat-card-actions>
      <button (click)="annuler()" class="annuler" mat-raised-button>Annuler</button>
      <button (click)="ajoutUser()" class="enregistrer" mat-raised-button>
        <div class="save">
          Enregistrer
          <div *ngIf="spinnerProgress">
            <app-spinner/>
          </div>
        </div>
      </button>      
    </mat-card-actions>
  </mat-card>

</div>
