<div class="container-body">
  <mat-card mat-card [formGroup]="prodListForm">
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button (click)="retour()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        Modifier un produit
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Nom du produit</mat-label>
        <input matInput formControlName="designation" placeholder="Entrez une Designation" maxlength="120" minlength="2" >
        <mat-icon matPrefix>format_align_left</mat-icon>
        <mat-error *ngIf="prodListForm.get('designation')?.hasError('required') && prodListForm.get('designation')">
          La designation est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantite</mat-label>
        <input matInput formControlName="quantite" type="number"
               placeholder="Entrez une Quantite" min="1"
               step="1" maxlength="100" minlength="1" >
        <mat-icon matPrefix>exposure</mat-icon>
        <mat-error *ngIf="prodListForm.get('quantite')?.hasError('required') && prodListForm.get('quantite')">
          La quantite est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prix Unitaire</mat-label>
        <input matInput formControlName="prixUnitaire"  type="number"
               placeholder="Entrez un Prix Unitaire" min="1"
               step="1" maxlength="100" minlength="1" >
        <mat-icon matPrefix>account_balance_walle</mat-icon>
        <mat-error *ngIf="prodListForm.get('prixUnitaire')?.hasError('required') && prodListForm.get('prixUnitaire')">
          La quantite est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput formControlName="image" maxlength="100" minlength="1" >
        <mat-icon matPrefix>description</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-form-field class="note" appearance="outline">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="note" placeholder="Entrez une note" maxlength="255" minlength="2" ></textarea>
      <mat-icon matPrefix>description</mat-icon>
    </mat-form-field>

    <mat-card-actions>
      <button (click)="retour()" class="annuler" mat-raised-button>Annuler</button>
      <button (click)="modifierProd()" class="enregistrer" mat-raised-button>
        <div class="save">
          Modifier
          <div *ngIf="spinnerProgress">
            <app-spinner/>
          </div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
