/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-body{
  margin: 10px;
}

/* styles.css */
.snackbar-success {
  background-color: #4CAF50 !important;
  color: white !important;
}

.snackbar-error {
  background-color: #F44336 !important;
  color: white !important;
}

.snackbar-info {
  background-color: #2196F3 !important;
  color: white !important;
}

