<div class="container-body">
  <mat-card mat-card>
    <mat-card-header>
      <mat-card-title>APPROVISION</mat-card-title>
      <mat-card-actions>
        <button class="addApprov" (click)="ajouterApprov()" mat-raised-button>NOUVEAU</button>
      </mat-card-actions>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher un approvision">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <app-loading *ngIf="isLoading"/>
        <table matSort [dataSource]="dataSource" *ngIf="!isLoading" mat-table>

          <!-- designation Colunm  -->
          <ng-container matColumnDef="designation" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> TITRE </th>
            <td mat-cell *matCellDef="let approv"> {{approv.designation}} </td>
          </ng-container>

          <!-- quantite Column -->
          <ng-container matColumnDef="quantite" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> QUANTITE </th>
            <td mat-cell *matCellDef="let approv"> {{approv.quantite}} </td>
          </ng-container>

          <!-- quantite Column -->
          <ng-container matColumnDef="prixUnitaire" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> PRIX UNITAIRE </th>
            <td mat-cell *matCellDef="let approv"> {{approv.prixUnitaire}} </td>
          </ng-container>

          <!-- quantite Column -->
          <ng-container matColumnDef="cbm" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> CBM </th>
            <td mat-cell *matCellDef="let approv"> {{approv.cbm}} </td>
          </ng-container>

          <!-- quantite Column -->
          <ng-container matColumnDef="fraisTransit" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> FRAIS DE TRANSIT </th>
            <td mat-cell *matCellDef="let approv"> {{approv.fraisTransit}} </td>
          </ng-container>

          <!-- prix Unitaire Column -->
          <ng-container matColumnDef="montant" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef>MONTANT </th>
            <td mat-cell *matCellDef="let approv"> {{approv.montant}} </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="dateAchat" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> DATE ACHAT </th>
            <td mat-cell *matCellDef="let approv"> {{formatDate(approv.dateAchat)}} </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="dateArriver" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> DATE RECEPTION</th>
            <td mat-cell *matCellDef="let approv"> {{formatDate(approv.dateArriver)}} </td>
          </ng-container>

          <!-- note Column -->
          <ng-container matColumnDef="adresseFrs" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> FOURNISSEUR </th>
            <td mat-cell *matCellDef="let approv"> {{approv.adresseFrs}} </td>
          </ng-container>

          <!-- image Column -->
          <ng-container matColumnDef="etat" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> STATUS </th>
            <td mat-cell  *matCellDef="let approv">
             <div [ngClass]="{'encours': approv.etat === 'ENCOURS', 'arriver': approv.etat === 'ARRIVER'}">
               {{approv.etat}}
             </div>
            </td>
          </ng-container>

          <!-- note Column -->
          <ng-container matColumnDef="utilisateurAprov" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> UTILISATEUR </th>
            <td mat-cell *matCellDef="let approv"> {{approv.utilisateurAprov?.nom}} </td>
          </ng-container>

          <ng-container matColumnDef="action" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let approv">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button class="traiterApprov" mat-menu-item (click)="traiter(approv.idApprov)">
                  <mat-icon class="traiter">autorenew</mat-icon>
                  <span>Traiter</span>
                </button>
                <button class="modifierdette" mat-menu-item (click)="modifier(approv.idApprov)">
                  <mat-icon class="modifier">edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button class="supprimerdette" mat-menu-item (click)="supprimer(approv.idApprov)">
                  <mat-icon class="supprimer">delete</mat-icon>
                  <span>Supprimer</span>
                </button>
                <button class="detailsdette" mat-menu-item (click)="details()">
                  <mat-icon class="details">info</mat-icon>
                  <span>Détails</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <app-loading *ngIf="isLoading"/>
        <mat-paginator *ngIf="!isLoading" [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </mat-card-content>
  </mat-card>
</div>
