h1{
}

.btn{
  display: flex;
  justify-content: space-around;
}

button{
  margin: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.annuler {
  color: white;
  font-weight: bolder;
  background-color: red;
}

.enregistrer {
  color: white;
  font-weight: bolder;
  background-color: #6B3C5C;
}

/* Cacher les flèches dans Chrome, Edge, et Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Cacher les flèches dans Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
